.meme {
  width: 30%;
  height: auto;
  padding: 1em;
  margin: 2em 0;
  transition: all .3s;
  float: left;
}

.meme:hover {
  transform: scale(1.01);
}

.meme a img {
  width: 100%;
  height: 50%;
  border-radius: .45em;
}

.title {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.title a {
  color: white;
  text-shadow: 2px 0 0 #000, -1px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  text-decoration: none;
}

.meta {
  display: flex;
  justify-content: space-between;
}

.score {
  padding: .3em;
  margin: 0 .2em;
  color: white;
  background-color: #FA5858;
  border-radius: .45em;
}

/* For tablets: */
@media only screen and (max-width: 1000px) {
  .meme {
    float: left;
    margin: 2em;
  }
}

/* For tablets: */
@media only screen and (max-width: 600px) {
  .meme {
    float: none;
    width: 80%;
    padding: 0;
    height: 80%;
    margin: 2em auto;
  }

  .meme a img {
    width: 90%;
    height: 80%;
  }
}

/* For mobile phones: */
@media only screen and (max-width: 400px) {
  .meme {
    float: none;
    width: 100%;
    padding: 0;
    height: auto;
  }

}
