._2aDhpnmvOqGupyT1wc3Tew {
  width: 30%;
  height: auto;
  border-radius: .5em;
  box-shadow: 0 0 .5em black;
  padding: 1em;
  margin: 2em 0;
  transition: all .3s;
  float: left;
}

._2aDhpnmvOqGupyT1wc3Tew:hover {
  transform: scale(1.01);
}

._2aDhpnmvOqGupyT1wc3Tew a img {
  width: 100%;
  height: 50%;
}

._1FzDpiRgKVb446QgX8Nyzh {
  margin: 0;
}
._1FzDpiRgKVb446QgX8Nyzh a {
  color: black;
  text-decoration: none;
}

._2fS3K4bay883XA8dDnNB1q {
  display: flex;
  justify-content: space-between;
}

/* For tablets: */
@media only screen and (max-width: 1000px) {
  ._2aDhpnmvOqGupyT1wc3Tew {
    float: left;
    margin: 2em;
  }
}

/* For tablets: */
@media only screen and (max-width: 600px) {
  ._2aDhpnmvOqGupyT1wc3Tew {
    float: none;
    width: 80%;
    padding: 0;
    height: 80%;
    margin: 2em auto;
  }

  ._2aDhpnmvOqGupyT1wc3Tew a img {
    width: 90%;
    height: 80%;
  }
}

/* For mobile phones: */
@media only screen and (max-width: 400px) {
  ._2aDhpnmvOqGupyT1wc3Tew {
    float: none;
    width: 100%;
    padding: 0;
    height: auto;
  }

}
.drWyG9k3xNlp6i9xgC9S1 {
  background: #fff;
}

._1PGRrQ-JzqagQe0vO5_fw8 {
  margin: 0 auto;
  padding: .5em 1em;
  width: 100%;
  max-width: 1000px;
  font-size: 3em;
  font-weight: normal;
  font-family: 'Kaushan Script', cursive;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  text-shadow: 2px 0 0 #000, -1px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

._24vuKwSX7nLQNAtoDeKMn4 {
  display: flex;
  padding: 1em;
}

.EMKmSBN1egAsi5Ec2X8qo {
  color: black;
  text-decoration: none;
  transition: all .3s;
  border: 1px solid black;
  border-radius: .25em;
  padding: .25em .5em;
  margin: 0 .5em;
}
.EMKmSBN1egAsi5Ec2X8qo:first-of-type {
  margin-left: auto;
}
.EMKmSBN1egAsi5Ec2X8qo:last-of-type {
  margin-right: auto;
}
.EMKmSBN1egAsi5Ec2X8qo:hover {
  background-color: black;
  color: white;
  transform: scale(1.01);
}
